.get-free-pricing-background {
    padding-top: 70px;
    padding-bottom: 30px;
    background-color: #8dcdb8;
}

.get-free-pricing-background div {
    text-align: right;
    color: #ffffff;
}

.get-free-pricing-title {
    font-size: 30px;
    margin-bottom: 20px;
}

.get-free-pricing-description {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 30px;
}

.get-free-pricing-call-us-at {
    font-size: 18px;
    margin-bottom: 10px;
}

.get-free-pricing-tel-num-title {
    font-size: 25px;
    margin-bottom: 20px;
}


.get-free-pricing-input-frame>div {
    margin-bottom: 10px;
    font-weight: 700;
    text-align: left;
}

.get-free-pricing-input-frame {
    width: 100%;
}


.get-free-pricing-input-frame>input {
    width: 100%;
    border: none;
    padding: 0 10px;
    margin-bottom: 10px;
}

.get-free-pricing-input-frame>input:focus {
    outline: none;
}

.heigth-input {
    height: 38px;
}

.heigth-input2 {
    height: 220px;
}