.boost-your-pos-background {
    padding: 40px 0 20px;
    background-color: #ece5d4;
}

.boost-your-pos-frame {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.boost-your-pos-frame>div {
    color: #a49f93;  
    font-size: 30px;
    line-height: 30px;
    font-weight: 300;
    margin-bottom: 10px;
    text-align: center;
}

.boost-your-pos-frame>img{
    margin-left: 20px;
    margin-right: 20px;
    height: fit-content;
}
