.books-background{
    background-color: beige;
    padding-top: 30px;
}

.books-title {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.book-frame{
    margin-bottom: 50px;
}

.book-frame-img{
    display: flex;
}

.book-frame-img a{
    flex: 0 0 50%;
    max-width: 50%;
}

.book-frame-img a img{
    max-width: 100%;
}

.book-frame-favorite{
    flex: 0 0 50%;
    max-width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.book-frame-favorite > button{
    height: fit-content;
}

.book-name-title{
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 300;
    color: #444444;
    text-transform: none;
}

.book-category{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.book-category-button{
    margin-left: 10px;
    cursor: pointer;
}

.link{
    display: block;
    cursor : pointer;
    text-decoration: none;
}