.header-background {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
}

.content-header{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.header-navigation{
    display: flex;
    width: fit-content;
}

.header-button-search{
    background: none;
    border: none;
    color: #444444;
    cursor: pointer;
    margin-left: 15px;
}

.header-navigation-list{
    display: flex;
    align-items: center;
    list-style: none;
}

.header-navigation-list>li>a{
    display: block;
    text-decoration: none;
    padding: 15px;
    margin-left: 5px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.header-navigation-list>li:hover{
    background-color: rgb(63, 172, 135);
    color: white;
    transition: 0.5s;
}

.header-navigation-list>li:last-child{
    border-right: none;
}

@media (max-width:767px) {
    .header-navigation{
        display: none;
        position: absolute;
        top: 50px;
        right: 0;
    }

    .header-navigation.active-menu{
        display: block;
        /* position: absolute;
        top: 50px;
        right: 0; */
    }

    .header-button-search{
        display: none;

    }

    .header-navigation-list{
        flex-direction: column;
        padding: 10px;
        background-color: aliceblue;
    }

    .header-navigation-list>li>a{
        border-right: none;
    }

    .header-navigation-list>li{
        width: 100%;
    }

    .content-header{
        justify-content: space-between;
        height: 90px;
    }

    .header-background{
        height: 90px;
    }

    .nav-mobile-menu {
        width: 15px;
        height: 15px;
        position: relative;
        cursor: pointer;
        z-index: 102;
    }

    .nav-mobile-menu span {
        height: 1px;
        background-color: black;
        position: absolute;
        left: 0;
        right: 0;
        transition: .25s ease-in-out;
    }

    .nav-mobile-menu span:first-child {
        top: 3px;
    }

    .nav-mobile-menu span:nth-child(2) {
        top: 7px;
    }

    .nav-mobile-menu span:last-child {
        bottom: 3px;
    }

    .nav-mobile-menu.active-menu span:first-child {
        top:50%;
        transform: rotate(45deg);
    }
    
    .nav-mobile-menu.active-menu span:nth-child(2) {
        top:50%;
        transform: rotate(-45deg);
    }

    .nav-mobile-menu.active-menu span:last-child {
        transform: scale(0);
    }
}

